<div class="container">


  <mat-toolbar style="margin-top: 2rem;">
    <mat-toolbar-row>
      <span>EXAMEN : {{examenApertura?.examen?.curso?.nombreCurso}}</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span style="font-size: 14px;">Tiempo restante: &nbsp;</span>

      <div *ngIf="tiempoRestanteSegundos">
        <cd-timer #basicTimer format="intelli" [countdown]="true" [startTime]="tiempoRestanteSegundos">

        </cd-timer>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>

  <form>

    <div class="row" *ngFor=" let p of preguntas;let i=index">
      <div [formGroup]="getGroup(i)">
        <mat-card style="margin: 0.5rem;">
          <div [innerHTML]="i+1+')' + p.enunciadoPregunta" style="font-weight: bold;">
          </div>
          <div [innerHTML]="p.retroAlimentacionPregunta">
          </div>

          <mat-radio-group class="example-radio-group" formControlName="idRespuesta">
            <mat-radio-button class="example-radio-button" *ngFor="let respuestas of p.respuestas"
              [value]="respuestas.idRespuesta">
              <div [innerHTML]="respuestas.enunciadoRespuesta">
              </div>
            </mat-radio-button>
          </mat-radio-group>
        </mat-card>

      </div>

    </div>

  </form>

  <button mat-raised-button (click)="finalizar()">
    Terminar
  </button>

</div>
