.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.preguntas{
  font-family: 'Poppins';
  border-radius: 0.1rem;
}
.example-spacer {
  flex: 1 1 auto;
}
